<body>
  <div class="container-md d-grid gap-3">
      <!--Top-->
      <div class="row border-3 border-top">
      <div class="col-md-9"> 
          <img src="../assets/logoargentinaprograma.png" alt="Argentina Programa Logo" height="50p" width="125p">
      </div>
      <div class="col-auto position-end margin-left: auto"> 
          <img src="../assets/facebook.png"  alt="Argentina Programa Logo" height="50p" width="50p">
      </div>
      <div class="col-auto position-end margin-left: auto"> 
          <img src="../assets/github.png"  alt="Argentina Programa Logo" height="50p" width="50p">
      </div>
      <div class="col-auto position-end margin-left: auto"> 
          <img src="../assets/login.png"  alt="Argentina Programa Logo" height="50p" width="50p">
      </div>
      
      </div>
      <!--Header-->
      <div class="row w-100">
      <img src="../assets/header.jpg" class="rounded-3" height="450p" width="600p">
      
      
       </div>
       
                <!--Acerca De-->
       <div class="row border border-2 rounded-2">
          <h2>Acerca De</h2>
           </div>
           <!--Experiencia-->
           <div class="row border border-2 rounded-2">
              <h2>Experiencia</h2>
               </div>
               <!--Educación-->
               <div class="row border border-2 rounded-2">
                  <h2>Educación</h2>
                   </div>
  </div>

</body>