    <div class="container-md">
    <div class="row align-items-center bg-light border-bottom">
      <div class="col">
        <img src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png" height="60p" width="170p"> 
      </div>
      <div class="col-sm-auto">
            <i class="fa-brands fa-facebook fa-2xl"></i>
        </div>
        <div class="col-auto">
            <i class="fa-brands fa-github fa-2xl"></i>
        </div>
        <div class="col-sm-auto">
            <i class="fa-solid fa-user-pen fa-2xl"></i>
        </div>
      </div>
    </div>


    
